#####################################################
# Files to ignore
#####################################################
# Files generated

*.asv
*.pdf
*.DS_Store
*.db

pfad

**/results
!**/Inputfiles